<%- include('parts/header.ejs')%>

    <br>
    <div class="container text-left">
        <div class="row row-cols-2">
            <% for(let product of products) {%>
                <div class="col-lg-4 col-md-4 all des">
                    <div class="product-item">
                        <a href="/products/<%= product._id %>">
                            <img src="/public/images/<%= product.image %>" alt="images">
                        </a>
                        <div class="down-content">
                            <a href="/products/<%= product._id %>"><h4><%=product.name%></h4></a>
                            <h6>€<%=product.price%></h6>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
    </div>

    <br><br><br><hr><br><br><br>

    <section class="padded-section">
        <section class="wrapper">
            <div class="gallery two-col-gallery"></div>
            <div class="container clearfix extra-pad-mobile cta-container">
                <span class="icon i_cta_balloon"></span>
                <div class="cta-content">
                    <h3>Contact Us</h3>
                    <p>
                        Have questions? Our experienced staff can help you find the answers.<br> 
                        Click below to contact us or find an office near you.
                    </p>
                    <a class="button" href="/contact" data-emacategory="CTA">Contact Us</a>
                </div>
            </div>
        </section>
    </section>

<%- include('parts/bottom.ejs')%>